#!/bin/bash


openstack overcloud deploy \
    --templates /usr/share/openstack-tripleo-heat-templates \
    --libvirt-type qemu \
    --control-flavor oooq_control --compute-flavor oooq_compute \
    --ceph-storage-flavor oooq_ceph --block-storage-flavor oooq_blockstorage \
    --swift-storage-flavor oooq_objectstorage \
    --timeout 90  -e /home/stack1/cloud-names.yaml     \
    -e /usr/share/openstack-tripleo-heat-templates/environments/docker.yaml  \
    -e /usr/share/openstack-tripleo-heat-templates/environments/docker-ha.yaml  \
    -e {% workspace %}/containers-default-parameters.yaml  \
    -e /usr/share/openstack-tripleo-heat-templates/environments/network-isolation.yaml \
    -e /usr/share/openstack-tripleo-heat-templates/environments/net-single-nic-with-vlans.yaml \
    -e {% workspace %}/network-environment.yaml  \
    -e /usr/share/openstack-tripleo-heat-templates/environments/low-memory-usage.yaml     \
    -e /usr/share/openstack-tripleo-heat-templates/environments/disable-telemetry.yaml   \
    --validation-warnings-fatal   --compute-scale 1 --control-scale 3  --ntp-server pool.ntp.org \
    ${DEPLOY_ENV_YAML:+-e $DEPLOY_ENV_YAML} "$@" && status_code=0 || status_code=$?



