#!/bin/bash


# NOTE NOTE NOTE!
# if deploy fails w/ INTERNAL ERROR or json issues (see /var/log/heat/heat-
# engine.log), need to delete mistral workflow:
# https://bugs.launchpad.net/tripleo/+bug/1622720
# mistral environment-delete overcloud
# swift delete --all


OOO_HEAT_TEMPLATES="{{ tripleo_heat_templates }}"

openstack overcloud deploy \
    --templates ${OOO_HEAT_TEMPLATES} \
    --libvirt-type qemu \
    --timeout 90  \
    --stack overcloud \
    --control-flavor controller --compute-flavor compute \
    -e ${OOO_HEAT_TEMPLATES}/environments/config-debug.yaml  \
    -e ${OOO_HEAT_TEMPLATES}/environments/docker.yaml  \
    -e ${OOO_HEAT_TEMPLATES}/environments/docker-ha.yaml  \
    -e ${OOO_HEAT_TEMPLATES}/environments/docker-stretch-galera.yaml  \
    -e {{ working_dir }}/docker_registry.yaml  \
    -e ${OOO_HEAT_TEMPLATES}/environments/network-isolation.yaml \
    -e {{ working_dir }}/network-environment.yaml  \
    -e ${OOO_HEAT_TEMPLATES}/environments/low-memory-usage.yaml     \
    -e ${OOO_HEAT_TEMPLATES}/environments/disable-telemetry.yaml   \
    -e {{ working_dir }}/naming_things.yaml  \
    --validation-warnings-fatal   --compute-scale {{ compute_scale }} --control-scale {{ control_scale }}  \
    --ntp-server pool.ntp.org \
    ${DEPLOY_ENV_YAML:+-e $DEPLOY_ENV_YAML} "$@" && status_code=0 || status_code=$?


