{
  {% if release_numeric_version < 11 %}
  "ssh-user": "{{ ansible_user|default(ansible_ssh_user) }}",
  "ssh-key": "{{ undercloud_private_key }}",
  "power_manager": "nova.virt.baremetal.virtual_power_driver.VirtualPowerManager",
  "host-ip": "{{ management_ipv4_address }}",
  "arch": "x86_64",
  {% endif %}
  "nodes": [
{% for host_string in nodes_info.results|map(attribute='stdout')|list %}
{% set host_data = host_string|from_yaml %}
    {
      "name": "{{ host_data.name }}",
      "mac": ["{{ host_data.mac }}"],
      "cpu": "{{ host_data.cpu }}",
      "memory": "{{ (host_data.memory_kibs|int / 1024)|round|int }}",
      "disk": "{{ (host_data.disk_bytes|int / 1073741824)|round|int }}",
      {% if release_numeric_version < 11 %}
        "disks": {{ host_data.disks }},
      {% endif %}
      "arch": "{{ host_data.arch }}",
      {% if release_numeric_version >= 11 %}
        "pm_addr": "{{ vbmc_management_address }}",
        "pm_type": "pxe_ipmitool",
        "pm_user": "{{ vbmc_username }}",
        "pm_password": "{{ vbmc_password }}",
        "pm_port": "{{ vbmc_ports[host_data.name] }}"
      {% else %}
        "pm_addr": "{{ management_ipv4_address }}",
        "pm_type": "pxe_ssh",
        "pm_user": "{{ ansible_user|default(ansible_ssh_user) }}",
        "pm_password": "{{ undercloud_private_key }}"
      {% endif %}

    }{% if not loop.last %},{% endif %}
{% endfor %}
    ]
}
