# see https://access.redhat.com/documentation/en-us/red_hat_openstack_platform/13/html/advanced_overcloud_customization/sect-controlling_node_placement

# tripleo_heat_templates variable comes from roles/hack-tripleo/tasks/main.yaml

# set up for specific IP numbers for controllers, so that we can easily
# predict from the other overcloud, set up hosts, etc.
# note external_from_pool is dynamically generated
# also it needs an absolute path?!  not sure why the example doesn't
# show that
resource_registry:
  OS::TripleO::Controller::Ports::ExternalPort: {{ tripleo_heat_templates }}/network/ports/external_from_pool.yaml

parameter_defaults:
  ControllerSchedulerHints:
    'capabilities:node': 'controller-%index%'
  NovaComputeSchedulerHints:
    'capabilities:node': 'compute-%index%'

  # When we have two overclouds, we need to SSH around and we will see these
  # names in our command prompts and you are really going to want to see which
  # stack this is, e.g. "stack1-overcloud-controller-0" and not "overcloud-
  # controller-0", in those names.
  HostnameMap:
    overcloud-controller-0: "{{ rh_stack_name }}-overcloud-controller-0"
    overcloud-controller-1: "{{ rh_stack_name }}-overcloud-controller-1"
    overcloud-controller-2: "{{ rh_stack_name }}-overcloud-controller-2"
    overcloud-compute-0: "{{ rh_stack_name }}-overcloud-compute-0"
    overcloud-novacompute-0: "{{ rh_stack_name }}-overcloud-compute-0"

# TODO: this is hacky.   we can do better :)
  ControllerIPs:
    external:
{% if rh_stack_name == 'stack1' %}
      - 10.0.10.12
      - 10.0.10.13
      - 10.0.10.14
{% else %}
      - 10.1.10.12
      - 10.1.10.13
      - 10.1.10.14
{% endif %}

  # on stack1, add /etc/hosts entries pointing to stack2.
  # on stack2, add /etc/hosts entries pointing to stack1.
  ExtraHostFileEntries:
{% if rh_stack_name == 'stack1' %}
    - 10.1.10.12 stack2-overcloud-controller-0.external.localdomain stack2-overcloud-controller-0.external
    - 10.1.10.13 stack2-overcloud-controller-1.external.localdomain stack2-overcloud-controller-1.external
    - 10.1.10.14 stack2-overcloud-controller-2.external.localdomain stack2-overcloud-controller-2.external
{% else %}
    - 10.0.10.12 stack1-overcloud-controller-0.external.localdomain stack1-overcloud-controller-0.external
    - 10.0.10.13 stack1-overcloud-controller-1.external.localdomain stack1-overcloud-controller-1.external
    - 10.0.10.14 stack1-overcloud-controller-2.external.localdomain stack1-overcloud-controller-2.external
{% endif %}
